*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    font-family: 'Overpass', sans-serif;
    background-color: #121417;
}

.rating-card {
    width: 508px;
    height: 504px;
    border-radius: 45px;
    background-color:#252D37;
    padding: 77px 71px;
    box-shadow: 3px 3px 14px 0px rgba(37, 45, 55);

}



.content .star {
    background-color: #28323F;
    padding: 14px;
    border-radius: 100%;
    margin-top: -40px;
    margin-bottom: 30px;

}

.title,
.thanks__title {
    font-size: 30px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 39px;

}

.desc,
.thanks__desc{
    font-size: 15px;
    font-weight: 100;
    color: #969A9E;
    max-width: 338px;
    margin-bottom: 39px;
    line-height: 1.2;

}

.btn {
    width: 100%;
    padding: 20px 20px;
    background-color: #FF8F3E;
    color: #FFFFFF;
    border-radius: 36px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 39px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.btn:hover {
    background-color: #FFFFFF ;
    color: #FF8F3E;
}

.form {
    width: 100%;
}

.form div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 28px;
}

.form__radio-input{
    display: none;
}

.form__radio-label{
    display: block;
    cursor: pointer;
    margin-right: 55px;
    margin-bottom: 50px;
}

.form__radio-button{
    height: 57px;
    width: 59px;
    background-color:#28323F;
    border-radius: 100%;
    position: absolute;
    transition: background-color 0.2s;


}

.form__radio-button::after{
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 100%;
    position: absolute;
    top:0;
    left: 0;
    background-color:#959EAC ;
    opacity: 0;
    transition: opacity 0.2s;
}

.form__radio-button div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    color:white;
    opacity: 0.5;
    font-weight: 700;
    z-index: 2; 
}

.form__radio-button:hover{
    background-color:#FF8F3E;
}

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
    opacity:1
}


.thanks{
    text-align: center;
}

.thanks .thanks-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 39px;
}

.thanks .result{
    display: inline-block;
    background-color:#28323F;
    padding: 5px 15px;
    border-radius: 20px;
    color:#FF8F3E;
    font-weight: 400;
    margin-bottom: 39px;

}

.attribution{
    margin-top: 39px;
    color: #FFFFFF;
}

.attribution .link {
    color: #FF8F3E;
}

.attribution .name {
    text-decoration: none;
    color: #FF8F3E;
}


@media (max-width: 375px) {
    .rating-card {
    width: 326px;
    height: auto;
    border-radius: 14px;
    }

.title,
.thanks__title {
    font-size: 24px;
    margin-bottom: 15px;

}

.thanks .result{
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: 400;
    margin-bottom: 15px;

}
.thanks .thanks-img{
    margin-bottom: 15px;
}

.form__radio-button{
    height: 41px;
    width: 41px;
}

.form__radio-label{
    display: block;
    cursor: pointer;
    margin-right: 50px;
    margin-bottom: 15px;
}

.desc,
.thanks__desc{
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 100;
    width: 200px;
    margin-bottom: 15px;
    line-height: 1;

}

.btn {
    width: 100%;
    padding: 15px 15px;
    font-size: 16px;
    margin-bottom: 15px;
}


  }

